<div class="footer">
  <footer class="py-3">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="http://localhost:4200/condiciones" class="nav-link px-2 text-body-secondary">Términos y condiciones</a></li>
      <li class="nav-item"><a href="http://localhost:4200/faq" class="nav-link px-2 text-body-secondary">FAQ</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contacto</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, GameStorm</p>
  </footer>
</div>
