<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CodingDung | Profile Template</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container light-style flex-grow-1 container-p-y">
  <h4 class="font-weight-bold py-3 mb-4">
    Ajustes de la cuenta
  </h4>
  <div class="card overflow-hidden">
    <div class="row no-gutters row-bordered row-border-light">
      <div class="col-md-3 pt-0">
        <div class="list-group list-group-flush account-settings-links">
          <a class="list-group-item list-group-item-action active" data-toggle="tab" href="#account-general">General</a>
          <a class="list-group-item list-group-item-action" data-toggle="tab" href="http://localhost:4200/perfil#account-change-password">Cambiar contraseña</a>
          <a class="list-group-item list-group-item-action" data-toggle="tab" href="http://localhost:4200/perfil#account-info">Info</a>
        </div>
      </div>
      <div class="col-md-9">
        <div class="tab-content">
          <div class="tab-pane fade active show" id="account-general">
            <div class="card-body media align-items-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt
                   class="d-block ui-w-80">
              <div class="media-body ml-4">
                <label class="btn btn-outline-primary">
                  Subir nueva foto
                  <input type="file" class="account-settings-fileinput">
                </label> &nbsp;
                <button type="button" class="btn btn-default md-btn-flat">reiniciar</button>
                <div class="text-light small mt-1">Allowed JPG, GIF or PNG. Max size of 800K</div>
              </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <div class="form-group">
                <label class="form-label">Usuario</label>
                <input type="text" class="form-control mb-1" value="">
              </div>
              <div class="form-group">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" value=" ">
              </div>
              <div class="form-group">
                <label class="form-label">E-mail</label>
                <input type="text" class="form-control mb-1" value="">
                <div class="alert alert-warning mt-3">
                  Tu correo electrónico no está confirmado. Por favor revisa tu bandeja de entrada<br>
                  <a href="javascript:void(0)">Reenviar confirmacion</a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account-change-password">
            <div class="card-body pb-2">
              <div class="form-group">
                <label class="form-label">Contraseña actual</label>
                <input type="password" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Nueva contraseña</label>
                <input type="password" class="form-control">
              </div>
              <div class="form-group">
                <label class="form-label">Repite la nueva contraseña</label>
                <input type="password" class="form-control">
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="account-info">
            <div class="card-body pb-2">
              <div class="form-group">
                <label class="form-label">Bio</label>
                <textarea class="form-control"
                          rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
              </div>
              <div class="form-group">
                <label class="form-label">Cumpleaños</label>
                <input type="text" class="form-control" value="May 3, 1995">
              </div>
              <div class="form-group">
                <label class="form-label">País</label>
                <select class="custom-select">
                  <option>USA</option>
                  <option selected>España</option>
                  <option>UK</option>
                  <option>Alemania</option>
                  <option>Francia</option>
                </select>
              </div>
            </div>
            <hr class="border-light m-0">
            <div class="card-body pb-2">
              <h6 class="mb-4">Contacts</h6>
              <div class="form-group">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control" value="+34 (123) 456 7891">
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="text-right mt-3">
    <button type="button" class="btn btn-primary">Guardar cambios</button>&nbsp;
    <button type="button" class="btn btn-default">Cancel</button>
  </div>
</div>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">

</script>
</body>

</html>
