<body>
<div class="register">

  <div class="container">
    <!-- Title-->
    <div class="title">Registrate</div>
    <div class="content">
      <!-- Registration  -->
      <form action="#">
        <div class="user-details">
          <!-- Full Name -->
          <div class="input-box">
            <span class="details">Nombre Completo</span>
            <input type="text" placeholder="Nombre" required>
          </div>
          <!--  Username -->
          <div class="input-box">
            <span class="details">Nombre de Usuario</span>
            <input type="text" placeholder="Nombre de Usuario" required>
          </div>
          <!--  Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Correo Electrónico" required>
          </div>
          <!--  Phone Number -->
          <div class="input-box">
            <span class="details">Número de Teléfono</span>
            <input type="text" placeholder="Número de Teléfono" required>
          </div>
          <!-- Password -->
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" placeholder="Contraseña" required>
          </div>
          <!-- Confirm Password -->
          <div class="input-box">
            <span class="details">Confirma tu Contraseña</span>
            <input type="password" placeholder="Confirmar Contraseña" required>
          </div>
        </div>
        <div class="gender-details">
          <!--  gender selection -->
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <span class="gender-title">Género</span>
          <div class="category">
            <!--  Male -->
            <label for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Hombre</span>
            </label>
            <!--  Female -->
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Mujer</span>
            </label>
          </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Registrar">
        </div>
      </form>
    </div>


  </div>


</div>
