<body>
<div class="register">

  <div class="container">
    <!-- Title-->
    <div class="title">Registrate</div>
    <div class="content">
      <!-- Registration  -->
      <form [formGroup]="registerForm" (ngSubmit)="onsubmit()">
        <div class="user-details">
          <!--  Email -->
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Correo Electrónico" required formControlName="correoElectronico" [(ngModel)]="email">
            <small *ngIf="registerForm.get('correoElectronico')?.touched && registerForm.get('correoElectronico')?.invalid">
              Ingrese un correo electronico valido
            </small>
          </div>
          <!-- Password -->
          <div class="input-box">
            <span class="details">Contraseña</span>
            <input type="password" placeholder="Contraseña" required formControlName="contrasegna" [(ngModel)]="Contrasenya">
            <small *ngIf="registerForm.get('contrasegna')?.touched && registerForm.get('contrasegna')?.invalid">
              Ingrese una contraseña valida
            </small>
          </div>
          <!-- Confirm Password -->
          <div class="input-box">
            <span class="details">Confirma tu Contraseña</span>
            <input type="password" placeholder="Confirmar Contraseña" required formControlName="confirmarContrasegna" [(ngModel)]="ContrasenyaConfirma">
            <small *ngIf="registerForm.get('confirmarContrasegna')?.touched && registerForm.hasError('contrasegnasNoCoinciden')">
              Las contraseñas no coinciden
            </small>
          </div>
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Registrar">
        </div>
      </form>
    </div>


  </div>


</div>
