<body xmlns="http://www.w3.org/1999/html">

<div class="contenido-noticias">

    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="aperture" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <circle cx="12" cy="12" r="10"/>
        <path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/>
      </symbol>
      <symbol id="cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
      </symbol>
      <symbol id="chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
      </symbol>
    </svg>



</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">¡Últimas noticias sobre el mundo del Gaming!</h1>
      <p class="lead my-3">En esta sección podrás encontrar la última información sobre los videojuegos, preventas y últimos lanzamientos.</p>
    </div>



    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="display-5 link-body-emphasis mb-1">Nueva llegada de Silent Hill 2</h2>
          <p class="blog-post-meta">7 de Octubre, 2024 by <a href="#">Eneritz</a></p>
          <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/oEOr2lcNeq0?si=rx5gBJk7ZZrEPWbK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          <p>El remake de Silent Hill 2, desarrollado por Bloober Team, ha mostrado sus primeras imágenes y se lanzará en 2024. Promete gráficos mejorados y una jugabilidad renovada, manteniendo la atmósfera del clásico. Los fans están entusiasmados por revivir la historia de James Sunderland en el inquietante pueblo de Silent Hill.</p>
          <hr>
          <h2>Nuevo remake de Red Dead Redemption </h2>
          <blockquote class="blockquote">
            <p> Vuelve al Oeste, donde cada decisión cuenta y cada bala tiene un precio.</p>

          </blockquote>
          <p>En un anuncio sorpresa, Rockstar Games ha confirmado el lanzamiento de Red Dead Redemption 1 para PC. La icónica aventura del Lejano Oeste, que originalmente se lanzó en 2010 para consolas, estará disponible en formato digital a partir del 20 de noviembre.
            <br>
            Los jugadores podrán disfrutar de gráficos mejorados, una tasa de fotogramas más alta y soporte para resoluciones 4K. Además, se incluirán nuevas misiones y contenido adicional que enriquecerán la experiencia. Los fanáticos de la saga esperan con ansias volver a sumergirse en el mundo de John Marston y revivir una de las historias más aclamadas de la industria. ¡No te lo pierdas!</p>
          <iframe allow="autoplay; fullscreen; picture-in-picture; clipboard-read; clipboard-write;" src="https://www.rockstargames.com/videoplayer/?id=851s9eme&locale=en_us&resolution=1080p&embed" style="aspect-ratio: 16 / 9; width: 100%; border: none;" title="Rockstar Games Video: Red Dead Redemption: Coming to PC October 29"></iframe>
          <hr>


          <h2>Novedades sobre Final Fantasy XVI</h2>
          <blockquote class="blockquote">
            <p>Final Fantasy XVI lanza su primera gran expansión, "Ecos de la Eternidad</p>
          </blockquote>
          <p>Square Enix ha anunciado el lanzamiento de "Ecos de la Eternidad", la primera gran expansión para Final Fantasy XVI, que estará disponible el 10 de diciembre de 2023. La expansión promete introducir nuevos personajes, misiones épicas y un nuevo reino por explorar. Los desarrolladores han señalado que los jugadores podrán profundizar en la historia de Clive y sus aliados mientras enfrentan enemigos jamás vistos.</p>

      </div>

      <div class="col-md-4">
        <div class="position-sticky" style="top: 2rem;">


          <div class="noticias">
            <h4 class="fst-italic">Noticias en directo</h4>
            <ul class="list-unstyled">
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <img class="imagen-noticias" src="./src/img/mundial-lol-worlds-copa_0.jpg">
                  <div class="col-lg-8">
                    <h6 class="mb-0">Temporada de mundiales</h6>
                    <small class="text-body-secondary">Empiezan los mundiales para League of Legends</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <img class="imagen-noticias" src="./src/img/overwatch.png">
                  <div class="col-lg-8">
                    <h6 class="mb-0">Llegan nuevos campeones</h6>
                    <small class="text-body-secondary">Overwatch da la bienvenida a nuevos heroes</small>
                  </div>
                </a>
              </li>
              <li>
                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                  <img class="imagen-noticias" src="./src/img/re4.webp">

                  <div class="col-lg-8">
                    <h6 class="mb-0">Resident Evil 4 Remake lanza nuevo DLC con historia adicional</h6>
                    <small class="text-body-secondary">Te esperan mas jefes y con ello más retos</small>
                  </div>
                </a>
              </li>
            </ul>
          </div>


          <div class="p-4">
            <h4 class="fst-italic">Otros medios</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/eneritzlg/Projecte1.git">GitHub</a></li>

            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


</body>