<div class="catprinc">
  <div class="container">
    <div id="pureba" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col" *ngFor="let product of products">
        <a class="no-style-link" href="/{{product.idProducto}}"><div class="card shadow-sm hover-scale">
          <div *ngIf="product.porcentajeDescuentoProducto" class="porcentaje-descuento">{{product.porcentajeDescuentoProducto * 100}}% DTO.</div>
          <img src="{{product.fotoProducto}}" class="card-img-top" alt="Foto de {{product.nombreProducto}}" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
          <div class="card-body">
            <h3>{{product.nombreProducto}}</h3>
            <p class="card-text">{{truncateText(product.descripcionProducto, 100)}}<br><a class="show-more" href="/{{product.idProducto}}/#desc">Mostrar Más</a></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" (click)="addToCart(product)">Añadir a la cesta</button>
              </div>
              <small *ngIf="!product.porcentajeDescuentoProducto" class="text-body-secondary price">{{ formatPrice(product.precioProducto) }}€</small>
              <small *ngIf="product.porcentajeDescuentoProducto" class="text-body-secondary line-through">{{ formatPrice(product.precioProducto) }}€</small>
              <small *ngIf="product.porcentajeDescuentoProducto" class="text-body-secondary price">{{ formatPrice(product.precioProducto - (product.precioProducto * product.porcentajeDescuentoProducto)) }}€</small>
            </div>
          </div>
        </div></a>
      </div>
    </div>
  </div>
  <div class="selector-pagina">
    <nav aria-label="...">
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
