.navbar {
  margin-bottom: 0px;

}

.cesta {
  margin-top: .3em;
}

.botones-nav {
  text-decoration: none;
  color: white;

}
.botones-nav:hover{
  transform: scale(1.05);
}

.login{
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding: .5em;
  background-color: #49587a;
  border-radius: .5em;
  height: auto;
}

.login p {
  line-height: .5em;
  margin-top: .5em;
}


.separacion {
  margin-right: 1em;
}

.cabeza {
  border-radius: .25em;
  margin-right: 2em;
  width: auto;
  display: flex;
}

.logo {
  width: 5em !important;
  height: auto;
}

.iconoCarro {
  width: 2em;
  height: auto;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;

}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
