<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a href="index.html"><img class="logo" src="assets/img/logo.png"/></a>


    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/catalogo">Catálogo</a>
        </li>
      </ul>
      <form class="busqueda" role="search">
        <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
      </form>
    </div>
  </div>
  <div class="cabeza">

    <a href="http://localhost:4200/carrito" class="botones-nav">
      <div class="cesta separacion">
        <img class="iconoCarro" src="./assets/img/carrito.svg">
      </div>
    </a>
    <a href="http://localhost:4200/login" class="botones-nav">
      <div class="login">
        <p>Login</p>
      </div>
    </a>
  </div>
</nav>
