<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container-fluid">
    <a href="index.html"><img class="logo" src="http://192.168.19.158:3090/img/logo.png"/></a>


    <div class="collapse navbar-collapse" id="navbarsExample02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="http://localhost:4200/catalogo">Catálogo</a>
        </li>
      </ul>

    </div>
  </div>
  <div class="cabeza">

    <a *ngIf="isLoggedIn" href="http://localhost:4200/carrito" class="botones-nav">
      <div class="cesta separacion">
        <img class="iconoCarro" src="http://192.168.19.158:3090/img/carrito.svg">
      </div>
    </a>

    <a *ngIf="!isLoggedIn" href="http://localhost:4200/login" class="botones-nav">
      <p class="login">
        Login
      </p>
    </a>

    <div class="dropdown">
      <a *ngIf="isLoggedIn" (click)="toggleDropdown()" class="botones-nav">
        <p class="login">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" width="24" height="24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor">
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
          </svg>
          {{ user?.displayName ? user.displayName.split(" ", 1) : user?.email }}
        </p>
      </a>
      <ul class="dropdown-menu" [class.show]="isOpen">
        <p>Bienvenido, {{ user?.displayName ? user.displayName.split(" ", 1) : user?.email }}</p>
        <hr>
        <li><a (click)="logout()">Cerrar Sesión</a></li>
        <li>
          <a class="nav-link active" href="http://localhost:4200/perfil">Perfil</a>
        </li>

      </ul>
    </div>

  </div>
</nav>
