/* You can add global styles to this file, and also import other style files */
/*@font-face {*/
/*  font-family: 'titulo';*/
/*  src: url('./src/assets/fonts/newcomictitle.tff');*/
/*}*/

/*@font-face {*/
/*  font-family: 'textoGeneral';*/
/*  src: url('./src/assets/fonts/MuseoSans-300.otf');*/
/*}*/

/** {*/
/*  font-family: 'textoGeneral';*/

/*}*/

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#d9e2e8, #f4faf9, #485779);
}

.no-style-link {
  text-decoration: none;
}

.hover-scale:hover {
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}
